<div class="container-fluid has-no-extra-space">
    <!-- editor container -->
    <div id="sc-code-editor-ctrl" class="row" ng-controller="SourceCodeEditor">
        <div class="col-sm-12 has-no-extra-space">
            <div class="well well-sm">
                <div class="container-fluid has-no-extra-space">
                    <%= render :partial => '_common/editor_options' %>
                    <%= render :partial => '_common/editor_core', :locals => {
                        source_codes: @source_codes,
                        readonly: true
                    } %>
                </div>
            </div>
        </div>
    </div>
    <!-- /editor container -->


    <!-- operator container -->
    <div class="row" id="tickets-row">
        <!-- tickets tabs -->
        <div class="col-sm-12 has-no-extra-space">
            <div class="well well-sm">
                <%= render :partial => '_common/tabset', :locals => {
                    entry_id: @entry_id,
                    with_init: true,
                    readonly: true
                } %>
            </div>
        </div>
        <!-- /tickets tabs -->
    </div>
    <!-- /operator container -->
</div>

<% if false %>
    <!-- sidebar container -->
    <div class="col-sm-2" style="position:relative;">
        <div class="well well-sm sc-sidebar affix" id="sc-navbar">
            <ul class="nav nav-pills nav-stacked sc-nav">
                <li><a href="#sc-code-editor-ctrl">Source Code</a></li>
                <li><a href="#tickets-row">Results</a></li>
            </ul>
        </div><!--/.well -->
    </div><!--/span-->
<% end %>
