<div class="container-fluid has-no-extra-space">
    <div class="row">
        <div class="col-sm-12 has-no-extra-space0">

            <!-- clone -->
            <%= form_tag( '/home/index', :method => :post) do %>
                <input type='hidden'
                       id='entry_id'
                       name='entry_id'
                       value='<%= @entry_id %>'>
                <button type='submit'
                        class='btn btn-success'
                        style="width: 100%">
                    <strong>Clone!</strong>
                </button>
            <% end %>

            <h6>Visibility:</h6>
            <h6>
                <span class="glyphicon glyphicon-globe" ng-if="visibility == 0"></span>
                <span class="glyphicon glyphicon-eye-close" ng-if="visibility == 1"></span>
                <span class="glyphicon glyphicon-minus-sign" ng-if="visibility == 2"></span>
                <strong>{{['Public', 'Protected', 'Private'][visibility]}}</strong>
            </h6>

            <%# owner %>
            <% unless @entry['owner_user_id'].nil? %>
                <h6>Posted by:</h6>
                <h6>
                    <% user = User.where( id: @entry['owner_user_id'] ).first %>
                    <strong><%= user.name unless user.nil? %></strong>
                </h6>
            <% end %>

            <%# date %>
            <% unless @entry['created_at'].nil? %>
                <h6>Created at:</h6>
                <h6>
                    <strong><%= @entry['created_at'] %></strong>
                </h6>
            <% end %>

            <div id="custom-tweet-button" ng-if="current_entry_id !== null">
                <iframe allowtransparency="true"
                        frameborder="0"
                        scrolling="no"
                        ng-src="{{current_entry_tweet}}"
                        style="width:130px; height:20px;">
                </iframe>
            </div>

            <!-- /submit -->
        </div>
    </div>
</div>
