<ul class="nav nav-pills nav-stacked">
    <li<% if active == 'users' %> class="active"<% end %>><a href="/users">User</a></li>
    <% if false %>
        <li<% if active == 'codes' %> class="active"<% end %>><a href="/users/codes">My Codes</a></li>
    <% end %>
    <li<% if active == 'account' %> class="active"<% end %>><a href="/users/edit">Account</a></li>
</ul>
