<div class="container-fluid has-no-extra-space">
   <!-- input -->
    <div class="row" ng-if="tickets[selected_tab_index].do_execution === true">
        <div class="col-sm-12">
            <tabset class="sc-input-tabset">
                <tab ng-repeat="input in tickets[selected_tab_index].inputs"
                     active="input.ui.is_active_tab"
                     select="change_input_tab(selected_tab_index)"
                     class="sc-ticket-input-tab"
                     >

                    <tab-heading tooltip="{{input.ui.label}}">
                        {{$index}}
                        <img src="/assets/loading.gif" ng-if="input.is_running"></img>
                    </tab-heading>

                    <%= render :partial => '_common/input_detail', :locals => {
                        :readonly => readonly
                    } %>

                </tab>
            </tabset>

            <% unless readonly %>
                <button type='button'
                        class='btn btn-primary btn-xs'
                        ng-click="append_input(selected_tab_index)">
                    add input
                </button>
            <% end %>
        </div>
    </div>
    <!-- /input -->
</div>
