<div class="container-fluid has-no-extra-space">
    <div class="row sc-lang-op-row">
        <div class="col-sm-5">
            <%# language list %>
            <select ui-select2
                    ng-model="ticket.data.selected_proc_id"
                    style="width: 100%"
                    >
                <optgroup ng-repeat="(group, procs) in procs_group" label="{{group}}">
                    <option ng-repeat="proc in procs" value="{{proc.id}}">{{proc.title}}</option>
                </optgroup>
            </select>
        </div>

        <div class='col-sm-4'>
            <div ng-if="ticket.current_proc.profile.is_runnable === true">
                <input type='checkbox'
                       ng-model="ticket.do_execution">
                exec?
                </input>
            </div>
        </div>

        <div class='col-sm-2 text-right'>
            <span class="label"
                  ng-class="ticket.phase_ui.label_style">
                {{ticket.phase_ui.label}}
            </span>
        </div>
    </div>
    <!-- /language operation -->

    <!-- compile link -->
    <div class="row" ng-if="ticket.current_proc.profile.is_build_required === true">
        <div class="col-sm-12">
            <accordion close-others="false">
                <%= render :partial => '_common/ticket_detail_accordion_group', :locals => { :mode => 'compile', :readonly => false } %>
                <%= render :partial => '_common/ticket_detail_accordion_group', :locals => { :mode => 'link', :readonly => false } %>
            </accordion>
        </div>
    </div>
    <!-- /compile link -->
</div>
