<div class="container-fluid has-no-extra-space">
    <div class="row">
        <div class="col-sm-12 has-no-extra-space0">
            <!-- submit -->

            <button type='button'
                    class='btn btn-primary'
                    style="width: 100%"
                    ng-disabled="!submit_able || is_running"
                    ng-click="submit_all()">
                <strong>Submit!</strong>
            </button>

            <h6>Visibility:</h6>
            <h6><strong>{{['Public', 'Protected', 'Private'][visibility]}}</strong></h6>
            <div class="btn-group btn-group-sm">
                <button type="button" class="btn btn-default" ng-model="visibility" btn-radio="0">
                    <span class="glyphicon glyphicon-globe"></span>
                </button>
                <button type="button" class="btn btn-default" ng-model="visibility" btn-radio="1">
                    <span class="glyphicon glyphicon-eye-close"></span>
                </button>
                <button type="button" class="btn btn-default" ng-model="visibility" btn-radio="2">
                    <span class="glyphicon glyphicon-minus-sign"></span>
                </button>
            </div>

            <div id="custom-tweet-button" ng-if="current_entry_id !== null">
                <iframe allowtransparency="true"
                        frameborder="0"
                        scrolling="no"
                        ng-src="{{current_entry_tweet}}"
                        style="width:130px; height:20px;">
                </iframe>
            </div>

            <a href="{{current_entry_target_url}}"
               ng-if="current_entry_id !== null">
                View on StaticPage
            </a>

            <!-- /submit -->
        </div>
    </div>
</div>
