<div class="container-fluid ng-scope has-no-extra-space" ng-controller="EntryController">
    <div class="row has-no-extra-space">
        <!-- editor/input container -->
        <div class="col-sm-11 has-no-extra-space">
            <%= render :partial => 'main_container' %>
        </div>
        <!-- /editor/input container -->

        <!-- mini container -->
        <div class="col-sm-1 has-no-extra-space">
            <%= render :partial => 'sub_container' %>
        </div>
        <!-- /mini container -->
    </div>
</div>
