<div class="container">
    <div class="hero-unit">
        <h1>ProcGarden</h1>
        <p>
            You can compile and execute some codes online!<br>
            Currently under construction... Available to registerd user only.</p>
        <p>
            <%= link_to "Register", "/users/sign_up", class: "btn btn-primary btn-large" %>
            <%= link_to "Login", "/users/sign_in", class: "btn btn-large" %>
        </p>
    </div>
</div>
