<div class="container">
    <div class="page-header">
        <h1><span class="glyphicon glyphicon-book"></span> About</h1>
    </div>

    <div class="row">
        <h3>ProcGardenとは？</h3>
        <p>
            ProcGardenはオンラインでコンパイラやインタープリタを試すことのできるサービスです。現在作成中のため，不具合が多々存在します．<br>
            バグ報告や要望などは，<a href="https://github.com/yutopp/torigoya_frontend">Github</a>でissueを作成するか，右上のFeedbackからお願いします．
        </p>


        <h3>使い方</h3>
        <p>
            エディタにソースコードを入力して，Ctrl+Enter，もしくは右上のSubmitボタンを押すだけです．<br>
            左下のcombo boxから処理系を選択することができます．
        </p>
    </div>
</div>
